<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')  %> 
</head>

<body>
    <header id="header">
        <%- include("../partials/header.ejs")  %> 
    </header>

<!-- agregar modificacion (agregar producos para modificar (/productsEdit))  y eliminar (saca el producto /productList) -->
    <main>
        aca va el producto unico seleccionado, el parametro es: "product"
    </main>

    <footer id="footer">
        <%- include("../partials/footer.ejs") %> 
    </footer>
</body>
</html>