*{
    --blue-1: #0487d9; /* de mas(1) a menos saturado(4) */
    --blue-2: #048abf;
    --blue-3: #79bed9;
    --blue-4: #c4f2ee;
    --black: #0d0d0d;
    --grey: #f2f2f2;
    --white: #fff;
}

#cart-page{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
}
.cart-title{
    width: 100%;
    margin: 1rem;
    text-align: center;
    color: var(--blue-1);
}
#table{
    display: flex;
    width: 100%;
    justify-content: center;
}
#cart-page table{
    justify-content: center;
    text-align: center;
    border-collapse: collapse;
    
}
#cart-page th{
    background-color: var(--blue-1);
    color: var(--white);
    padding: 0.5rem 2rem;
    font-size: 1.3rem;
    
}
#cart-page td{
    padding: 0.5rem 2rem;
}
#table button{
    width: 20px;
    border: none;
    justify-content: center;
    text-align: center;
    margin: 0.5rem;
    padding: 4px;
}
td button{
    width: 25px;
    height: 25px;
    border-radius: 50px;
    border-style: none;
    margin: 0 3px;
    font-size: 1.2rem;
    color: var(--white);
    cursor: pointer;
}
.mas{
    background-color: var(--blue-1);
}
.menos{
    background-color: rgba(189, 87, 87, 0.801);
}
.pay-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}
.pay-btn button{
    padding: 0.7rem;
    border: none;
    background-color: var(--blue-1);
    color: var(--white);
    border-radius: 3px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}
.pay-btn button:hover{
    background-color: var(--blue-2);
}
.envio{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    font-weight: bold;
}
.envio input{
    border-style: none;
    padding: 0.5rem;
    outline: none;
}
@media all and  (min-width: 768px){

}
@media all and  (min-width:1200px) {

}