*{
    --blue-1: #0487d9; /* de mas(1) a menos saturado(4) */
    --blue-2: #048abf;
    --blue-3: #79bed9;
    --blue-4: #c4f2ee;
    --black: #0d0d0d;
    --grey: #f2f2f2;
    --white: #fff;
}
#footer .categorias{
    position: relative;
    width: auto;
    padding: 1.25rem;
    background-color: var(--blue-3);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 10px;
    
}

.detalles-oxigeno{
    padding-top: 2rem;
    background-color: var(--blue-3);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.detalles-oxigeno p{
    padding: 2rem 2rem 0 2rem;
}
#footer h6{
    font-size: 1.25rem;
    text-decoration: underline;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
#footer li{
    padding: 0.125rem;
}
#logo-whatsapp a i{
    background-color: white;
    padding: 0.75rem;
    border-radius: 50%;
    color: green;
    position: fixed;
    font-size: 2.5rem;
    bottom: 2rem;
    right: 2rem;
}
@media all and  (min-width: 768px){

}
@media all and  (min-width:1200px) {

}