*{
    --blue-1: #0487d9; /* de mas(1) a menos saturado(4) */
    --blue-2: #048abf;
    --blue-3: #79bed9;
    --blue-4: #c4f2ee;
    --black: #0d0d0d;
    --grey: #f2f2f2;
    --white: #fff;
}

#header{
    background: #67a0cc;
    background: -webkit-linear-gradient(0deg, #67a0cc 0%, #0487d9 70%, #0487d9 100%);
    background: linear-gradient(0deg, #67a0cc 0%, #0487d9 70%, #0487d9 100%);
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    width: 100%;
    /*overflow: hidden;*/
    /*position: fixed;*/
}
.top-header{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}
#logo{
    display: flex;
    justify-content: center;
    flex-basis: 100vw;
    margin: 1rem;
}
#logo picture img{
    width: 100px;
    height: 100px;
}
#search{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 2rem;
    margin: 1rem;
}
#search input{
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 7px;
    border-radius: 5px;
}
#search button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    order: 1;
    background-color: var(--blue-1);
    border: none;
    border-radius: 5px;
    padding: 3px;
    margin-left: 1rem;
}
#search a{
    color: var(--white);
}
#search label{
    display: none;
}
#nav{
    display: flex;
    width: 100vw;
    justify-content: center;
}
#nav i{
    color: var(--white);
    font-size: 1.5rem;
    padding: .3rem;
    margin: auto .7rem;
}
.user img{
    display: flex;
    width: 27px;
    height: 27px;
    margin: auto .7rem;
    border-radius: 50%;
}
#menu{
    display: none;
}
@media all and (min-width: 768px){
    #logo{
        flex-basis: 100px;
        margin: 1rem 1rem 0 1rem;
    }
    #logo picture img{
        width: 100%;
        height: 100%;
    }
    #search {
        width: 60%;
        margin: auto;
    }
    #search input{
        max-width: 555px;
    }
    #nav{
        margin: auto;
        width: 10%;
    }
    #nav i{
        padding: 0;
    }
    .burger-menu{
        display: none;
    }
    #menu{
        display: flex;
        width: 100%;
        padding: 0.5rem;
        justify-content:space-evenly;
    }
    .submenu{
        margin: 0 1rem;
        font-weight: 450;
    }
    .submenu a{
        color: var(--white);
        letter-spacing: 2px;
    }
    .submenu a:hover{
        background-color: var(--white);
        color: var(--blue-2);
        border-radius: 50px;
        transition: .75s;
        padding: 4px;
        transition: .75s ;
    }
    .user:hover {
        background-color: var(--white);
        border-radius: 30px;
        transition: .75s;
        padding: 1.5px;
    }
    .cart:hover {
        background-color: var(--white);
        border-radius: 30px;
        transition: .75s;
        padding: 1.5px;
    }
    .out:hover {
        background-color: var(--white);
        border-radius: 30px;
        transition: .75s;
        padding: 1.5px;
    }
    #nav .user:hover .usertwo{
        color: var(--blue-2);
        transition: .75s;
    }
    #nav .cart:hover .carttwo{
        color: var(--blue-2);
        transition: .75s;
    }
    #nav .out:hover .outtwo{
        color: var(--blue-2);
        transition: .75s;
    }
}
@media all and  (min-width:1200px) {
    #search{
        width: 75%;
    }
}