<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')  %> 
    <link rel="stylesheet" href="/css/cart.css">
</head>
<body>
    <header id="header">
        <%- include("../partials/header.ejs")  %> 
    </header>

    <main id="cart-page">

        <h2 class="cart-title">Carrito de compras <span class="empty">vacío</span></h2>
        
        <table class="table-cart" hidden>
            <thead>
                <tr>
                    <th class="item">Item</th>
                    <th class="cantidad">Cantidad</th>
                    <th class="total">Precio</th>
                </tr>
            </thead>

            <tbody id="data">
            </tbody>   
                
            <tfoot>
                <tr>
                    <th>Total</th>
                    <th><i class="fa-solid fa-trash clear"></i></th>
                    <th class="total">$<span class="total-price"></span></th>
                </tr>
            </tfoot>
        </table>

    

        <section class="envio">
            <article class="shipping" hidden>
                <p>Calcular envio: <input class="" type="text" name="c-postal" id="c-postal" required placeholder="Codido Postal"></p>
            </article>
        </section>
        <section class="pay-btn">
            <button type="submit" class="payBtn" hidden>
                Comprar
            </button>
        </section>
    </main>

    <footer id="footer">
        <%- include("../partials/footer.ejs") %> 
    </footer>

    <script src="/js/cart.js"></script>
</body>
</html>