*{
    --blue-0: #0061bb;
    --blue-1: #0487d9; /* de mas(1) a menos saturado(4) */
    --blue-2: #048abf;
    --blue-3: #79bed9;
    --blue-4: #c4f2ee;
    --black: #0d0d0d;
    --grey: #f2f2f2;
    --white: #fff;
}
#login{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-top: auto;
    margin-bottom: auto;
}
.form-log{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.in-log{    
    width: 100%;
    border: none;
    outline: none;
    margin: 1rem;
    padding: 1rem;
    border-radius: 4px;
}
#login a{
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin-bottom: 0.75rem;
    color: var(--blue-2);
}
.btn-ingresar{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.btn-login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 2.5rem;
    color: var(--white);
    background-color: var(--blue-1);
    border: none;
    border-radius: 4px;
    cursor: pointer;   
}
.btn-login:hover{
    background-color: var(--blue-0);
}
#login a:hover{
    color: var(--blue-0);
}

.registroBoton{
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

.register{
    margin-right: 1rem; 
}

#togglePasswordView{
    position: relative;
    left: 300px;
    bottom: 45px;
    cursor: pointer;
}

@media all and (min-width:768px){
    .form-log{
        max-width: 500px;
    }
    #togglePasswordView{
        position: relative;
        left: 450px;
        bottom: 45px;
        cursor: pointer;
    }
}
@media all and (min-width:1200px){
}
.feedback {
    
    font-size: 0.8rem;
    font-weight: 0;
    font-style: oblique;
    /*background-color: #ffc4c4;*/
    padding: 0px 0px 10px 20px;
    padding-left: 1rem;
    margin-top: 0rem;
    color: red;
    
    
}