
<li class="product">
    <a href="/products/detail/<%= element.sku%> ">
        <picture>
            <img src="images/Uploads/products/<%= element.image %> " alt="salvavidas">
        </picture>
        <article>
            <p class="list-name"><%= element.name %></p>
            <p class="list-price">$ <%= element.price %></p>
            <p class="list-envio">Envio gratis</p>
        </article>
    </a>
</li>