
    #header{
        display: flex;
        height: 20vh;
        background: #67a0cc;
        background: -webkit-linear-gradient(0deg, #67a0cc 0%, #0487d9 70%, #0487d9 100%);
        background: linear-gradient(0deg, #67a0cc 0%, #0487d9 70%, #0487d9 100%);
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-items: flex-start;
        width: 100%;
}

#imagenOxigeno{
    margin: auto;
}

#imagenOxigeno picture img{
    display: flex;
    width: 15vh;
    margin: auto;
}