<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')  %> 
</head>
<body>
    <header id="header">
        <%- include("./partials/header.ejs")  %> 
    </header>
    
    <main class="mainAddProd">
        <form action="/" class="formAddProd">

            <span class="title-formAdd">Completar registro de producto nuevo</span>

            <input type="hidden" name="sku">

            <input type="text" placeholder="Nombre del Producto" name="name" required>

            <input type="number" placeholder="Precio" name="price" required>

            <textarea name="description" placeholder="Descripcion"></textarea>
            
            <select id="category" name="category" required>
                <option value="null" disabled selected>Elegir una categoria</option>
                <option value="Deportes acuaticos">Deportes acuaticos</option>
                <option value="Remera">Remera</option>
                <option value="Iluminacion">Iluminacion</option>
                <option value="Fondeo y amarre">Fondeo y amarre</option>
                <option value="Cocina">Cocina</option>
                <option value="Indumentaria">Indumentaria</option>
                <option value="Equipamiento">Equipamiento</option>
            </select>

            <select id="category" name="size">
                <option value="null" disabled selected>Elegir talle si corresponde</option>
                <option value="xs">XS</option>
                <option value="s">S</option>
                <option value="m">M</option>
                <option value="l">L</option>
                <option value="xl">XL</option>
            </select>

            <div id="image-prod">
            <label  for="fotoProd">Selecionar foto del producto</label>
            <input  type="file" name="fotoProducto" id="fotoProd">
            </div>

            <div id="button-add">
            <button type="submit" class="button-add"> Agregar producto </button>
            </div>

        </form>
    </main>
    
    <footer id="footer">
        <%- include("./partials/footer.ejs") %> 
    </footer>
</body>
</html>