<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>OXIGENO Carrito</title>
</head>
<body>
    <header id="header">
        <div class="top-header">
            <nav id="logo">
                <picture>
                    <a href="/">
                        <img src="images/logo.png" alt="Oxígeno">
                    </a>
                </picture>
            </nav>
            <form action="" method="get" id="search">
                <label for="query"><i class="fa-solid fa-search"></i></label>
                <button type="submit"><i class="fa-solid fa-search"></i></button>
                <input type="text" name="q" id="query" placeholder="Buscar productos, marcas">
            </form>
            <ul id="nav">
                <li class="burger-menu"><a href="/"><i class="bars fa-solid fa-bars"></i> </a></li>
                <li class="user"><a href="/login"><i class="fa-solid fa-user"></i></a></li>
                <li class="cart"><a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
            <ul id="menu">
                <li class="submenu"><a href="/">Productos</a></li>
                <li class="submenu"><a href="/">Ofertas</a></li>
                <li class="submenu"><a href="/">Quienes Somos</a></li>
                <li class="submenu"><a href="/">Contacto</a></li>
            </ul>
        </div>

    </header>

    <main>
        <h1>CARRITO</h1>
    </main>

    <footer>
    </footer>
</body>
</html>