<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>OXIGENO</title>
</head>
<body>
    <header id="header">
        <div class="top-header">
            <nav id="logo">
                <picture>
                    <a href="/">
                        <img src="images/logo.png" alt="Oxígeno">
                    </a>
                </picture>
            </nav>
            <form action="" method="get" id="search">
                <label for="query"><i class="fa-solid fa-search"></i></label>
                <button type="submit"><i class="fa-solid fa-search"></i></button>
                <input type="text" name="q" id="query" placeholder="Buscar productos, marcas">
            </form>
            <ul id="nav">
                <li class="burger-menu"><a href="/"><i class="bars fa-solid fa-bars"></i> </a></li>
                <li class="user"><a href="/login"><i class="fa-solid fa-user"></i></a></li>
                <li class="cart"><a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
            <ul id="menu">
                <li class="submenu"><a href="/">Productos</a></li>
                <li class="submenu"><a href="/">Ofertas</a></li>
                <li class="submenu"><a href="/">Quienes Somos</a></li>
                <li class="submenu"><a href="/">Contacto</a></li>
            </ul>
        </div>
    </header>

    <main id="main">

    <section id="main-section-1">    
            <picture>
                <img src="images/kayak.png" alt="kayak">
                <section>
                    <a href=""> ¡Ofertas! </a>
                </section>
            </picture>   
    </section>

    <section id="main-section-2">
        <article class="titles">
            <h1>Más vendidos</h1>
        </article>

        <section class="section-productos">

            <section class="productos">
                <picture>
                    <a href="/products">
                        <img src="images/salvavidas-x4.jpeg" alt="salvavidas">
                    </a>
                </picture>
                <article>
                    <p>$ 15000</p>
                    <p class="p-envio">Envio gratis</p>
                    <p>Salvavidas x 4u</p>
                </article>
            </section>

            <section class="productos">
                <picture>
                    <a href="/products">
                        <img src="images/salvavidas.jpeg" alt="salvavidas">
                    </a>
                </picture>
                <article>
                    <p>$ 5000</p>
                    <p class="p-envio">Envio gratis</p>
                    <p>Salvavidas</p>
                </article>
            </section>

            <section class="productos">
                <picture>
                    <a href="/products">
                        <img src="images/salvavidas-x4.jpeg" alt="salvavidas">
                    </a>
                </picture>
                <article>
                    <p>$ 15000</p>
                    <p class="p-envio">Envio gratis</p>
                    <p>Salvavidas x 4u</p>
                </article>
            </section>

        </section>

        <article class="titles">
            <h1>Últimos buscados</h1>
        </article>

        <section class="section-productos">
            

            <article class="productos">
                <picture>
                    <a href="/products">
                        <img src="images/salvavidas.jpeg" alt="salvavidas">
                    </a>
                </picture>
                <article>
                    <p>$ 5000</p>
                    <p class="p-envio">Envio gratis</p>
                    <p>Salvavidas</p>
                </article>
            </article>

            <article class="productos">
                <picture>
                    <a href="/products">
                        <img src="images/salvavidas-x4.jpeg" alt="salvavidas">
                    </a>
                </picture>
                <article>
                    <p>$ 15000</p>
                    <p class="p-envio">Envio gratis</p>
                    <p>Salvavidas x 4u</p>
                </article>
            </article>

            <article class="productos">
                <picture>
                    <a href="/products">
                        <img src="images/salvavidas.jpeg" alt="salvavidas">
                    </a>
                </picture>
                <article>
                    <p>$ 5000</p>
                    <p class="p-envio">Envio gratis</p>
                    <p>Salvavidas</p>
                </article>
            </article>

        </section>
    </section>
    </main>

    <footer id="footer">
        <section class="categorias">
        <nav>
            <h6><a href="/">Deportes acuáticos</a></h6>
            <ul>
                <li><a href="/">Chalecos</a></li>
                <li><a href="/">Juegos de arrastre</a></li>
                <li><a href="/">Accesorios</a></li>
            </ul>
        </nav>
        <nav>
            <h6><a href="/">Iluminación</a></h6>
            <ul>
                <li><a href="/">Linternas</a></li>
                <li><a href="/">Luces bajo agua</a></li>
                <li><a href="/">Cintas de led</a></li>
            </ul>
        </nav>
        <nav>
            <h6><a href="/">Fondeo y amarre</a></h6>
            <ul>
                <li><a href="/">Anclas</a></li>
                <li><a href="/">Cabos</a></li>
                <li><a href="/">Boyas</a></li>
            </ul>
        </nav>
        <nav>
            <h6><a href="/">Cocina</a></h6>
            <ul>
                <li><a href="/">Conservadoras</a></li>
                <li><a href="/">Frigobares</a></li>
                <li><a href="/">Anafes</a></li>
            </ul>
        </nav>
        <span id="logo-whatsapp">
            <a href="">
                <i class="fa-brands fa-whatsapp"></i>
            </a>
        </span>
    </section>
    <section class="detalles-oxigeno">
        <p>Copyright © 2000-2022 Oxigeno S.A</p>
        <p>Calle falsa 123,CP 3000,Albuquerque,CABA</p>
    </section>
    </footer>
</body>
</html>