<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')  %> 
</head>

<body>
    <header id="header">
        <%- include("./partials/header.ejs")  %> 
    </header>

<!-- agregar modificacion (agregar producos para modificar (/productsEdit))  y eliminar (saca el producto /productList) -->

    <main class="mainProducts">
        <section class="picturesProducts">
                <picture class="blockBigPicturesProducts">
                    <img class="bigPicturesProducts" src="/images/comboOxigeno.jpg" alt="caca">
                </picture>
                <nav class="navigationProducts">
                    <img class="navigationProductsLittles" src="/images/oxigenoPorUno.jpg" alt="">
                    <img class="navigationProductsLittles" src="/images/silvatoPorUno.jpg" alt="">
                    <img class="navigationProductsLittles" src="/images/oxigenoPorDos.jpg" alt="">
                    <img class="navigationProductsLittles" src="/images/salvavidasConSilvato.jpg" alt="">
                </nav>
        </section>

        <section class="descriptionProducts">
                <ul class="descriptionProductsList">
                    <li class="descriptionCategory">OFERTAS</li>
                    <li class="descriptionTitle">Combo de cuatro salvavidas Oxígeno "tipo poncho" + silvatos.</li>
                    <li class="descriptionPrice">$12.500</li>
                    <li class="descriptionDescription">
                        
                        Poncho salvavidas reglamentario homologado por PNA para adultos (Hasta 120kg) por cuatro unidades.

                    </li>
                    <li class="descriptionDecriptionTitle">Caracteristicas:</li>
                    <li class="descriptionItem">Confeccionados en tela de nylon con costuras reforzadas.</li>
                    <li class="descriptionItem">Relleno de placas de  polietileno de celdas cerradas (no con bola de Telgopor).</li>
                    <li class="descriptionItem">Cintas reflectivas de tela  cosidas de gran luminosidad (no adhesivas que se salen con el agua).</li>
                    <li class="descriptionItem">Tiras para sujetar reforzadas (no se deshilachan).</li>
                    <button class="addCart">Agregar al carrito</button>
                </ul>
        </section>
    </main>

    <footer id="footer">
        <%- include("./partials/footer.ejs") %> 
    </footer>
</body>
</html>