<footer id="footer">
<section class="categorias">
    <nav>
        <h6><a href="/">Deportes acuáticos</a></h6>
        <ul>
            <li><a href="/">Chalecos</a></li>
            <li><a href="/">Juegos de arrastre</a></li>
            <li><a href="/">Accesorios</a></li>
        </ul>
    </nav>
    <nav>
        <h6><a href="/">Iluminación</a></h6>
        <ul>
            <li><a href="/">Linternas</a></li>
            <li><a href="/">Luces bajo agua</a></li>
            <li><a href="/">Cintas de led</a></li>
        </ul>
    </nav>
    <nav>
        <h6><a href="/">Fondeo y amarre</a></h6>
        <ul>
            <li><a href="/">Anclas</a></li>
            <li><a href="/">Cabos</a></li>
            <li><a href="/">Boyas</a></li>
        </ul>
    </nav>
    <nav>
        <h6><a href="/">Cocina</a></h6>
        <ul>
            <li><a href="/">Conservadoras</a></li>
            <li><a href="/">Frigobares</a></li>
            <li><a href="/">Anafes</a></li>
        </ul>
    </nav>
    <span id="logo-whatsapp">
        <a href="">
            <i class="fa-brands fa-whatsapp"></i>
        </a>
    </span>
</section>
<section class="detalles-oxigeno">
    <p>Copyright © 2000-2022 Oxigeno S.A</p>
    <p>Calle falsa 123,CP 3000,Albuquerque,CABA</p>
</section>
</footer>