<!-- <link rel="stylesheet" href="/css/saludo.css"> -->
    <div class="top-header">
        <nav id="logo">
            <picture>
                <a href="/">
                    <img src="/images/logo_blanco.png" alt="Oxígeno">
                </a>
            </picture>
        </nav>
        <form action="/products/search" method="get" id="search">
            <input type="text" name="q" id="searchInput" placeholder="Buscar productos" list="listProducts" autocomplete="off">
            <nav id="listProducts">

            </nav>
            <label for="q"><i class="fa-solid fa-search"></i></label>
            <button type="submit"><a href="/"><i class="fa-solid fa-search"></i></a></button>
        </form>
        <script defer src="/scripts/search.js"></script>
        <ul id="nav">
                <li class="test burger-menu" id="menu-hamburguesa"><a href="#"><i class="bars fa-solid fa-bars"></i> </a></li>
                <% if (user) { %>
                    <li class="test user"><a href="/user/profile"> <img src="/images/Uploads/users/<%= user.avatar %> " alt=""></a></li>
                    <% } else { %>
                        <li class="test user"><a href="/user/login"><i class="usertwo fa-solid fa-user"></i></a></li>
                        <% } %>
                    <li class="test cart"><a href="/cart"><i class="carttwo fa-solid fa-cart-shopping"><span class="header-cart syle-cart">0</span></i></a></li>
                <% if (user) { %>
                    <li class="test out"><a href="/user/logout"><i class="outtwo fa-sharp fa-solid fa-right-from-bracket"></i></a></li>
                <% } %>        
        </ul>
        
        <ul id="menu">
            <li class="submenu"><a href="/products">Productos</a></li>
            <li class="submenu"><a href="/">Ofertas</a></li>
            <li class="submenu"><a href="/who">¿Quiénes Somos?</a></li>
            <!-- <li class="submenu"><a href="/contact">Contacto</a></li> COMENTO POR CAMBIOS EN LA ESTRATEGIA-->
            <% if (user) { %>
                <% if (user.roleId != 3) { %>
                    <li class="submenu"><a href="/products/create">AgregarProd</a></li>
                    <li class="submenu"><a href="/user/show">ListaUsuarios</a></li>
                    <li class="submenu"><a href="/category/show">ListaCategorias</a></li>
                <% } %>
            <% } %>
            <script defer src="/scripts/menuBurguer.js"></script>
        </ul>
    </div>

    <!-- <script src="/js/cartAdd.js"></script> -->