
<li class="product">
    <a href="/dbProducts/detalle/<%= element.id%> ">
        <picture>
            <img src="/images/Uploads/products/<%= element.image %> " alt="salvavidas">
        </picture>
        <article>
            <p class="list-name"><%= element.name %></p>
            <p class="list-price">$ <%= element.price %></p>
            <p class="list-envio">
            <% if (element.price > 6000) { %>
            <p>Envio gratis</p>
            <% } else { %>
            <p>Consultar según CP</p>
            <% } %> </p>
        </article>
    </a>
</li>