<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')  %> 
</head>

<body>
    <header id="header">
        <%- include("../partials/header.ejs")  %> 
    </header>

    <main>
        plantilla
    </main>

    <footer id="footer">
        <%- include("../partials/footer.ejs") %> 
    </footer>
</body>
</html>