
<li class="product">
    <a href="/products/detail/<%= element.sku %> ">
        <picture>
            <img src="images/Uploads/products/<%= element.image %> " alt="salvavidas">
        </picture>
        <article>
            <p>$ <%= element.price %> </p>
            <p class="p-envio">Envio gratis</p>
            <p><%= element.name %> </p>
        </article>
    </a>
</li>