<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')  %> 
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <header id="header">
        <%- include("../partials/header.ejs")  %> 
    </header>   

    <main id="login">
        <form class="form-log" action="/home" method="get">
            <input class="in-log" type="text" name="usuairo" id="usuario" required placeholder="Email">
            <input class="in-log" type="password" placeholder="Contrase単a" name="password" id="password" required>
            <a href="/">多Olvidaste tu contrase単a?</a>
            <a class="register" href="/user/register">多No tenes cuenta?</a>
            <div class="btn-ingresar">
                <button class="btn-login" type="submit">Ingresar</button>
            </div>
        </form> 
    </main>

    <footer id="footer">
        <%- include("../partials/footer.ejs") %> 
    </footer>
</body>
</html>