<%- include('../partials/head.ejs')  %> 
<link rel="stylesheet" href="/css/login.css">

<body>
    <header id="header">
        <%- include("../partials/header.ejs")  %> 
    </header>   

    <main id="login">
        <form class="form-log" action="/user/access" method="post">
            <input class="in-log" type="text" name="usuario" id="usuario" required placeholder="Email">
            <input class="in-log" type="password" placeholder="Contrase単a" name="password" id="password" required>
            <section class="registroBoton">
                <label class="register" for="rememberMe">Recordarme</label>
                <input type="checkbox" value="rememberMe" name="rememberMe" id="rememberMe"> 
                </section>
            <a href="/">多Olvidaste tu contrase単a?</a>
            
            <a class="register" href="/user/register">多No tenes cuenta?</a>
            <div class="btn-ingresar">
                <button class="btn-login" type="submit">Ingresar</button>
            </div>
        </form> 
    </main>

    <footer id="footer">
        <%- include("../partials/footer.ejs") %> 
    </footer>
</body>
</html>