<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')  %> 
    
</head>

<body>
    <header id="header">
        <%- include("../partials/header.ejs")  %> 
    </header>

    <main id="register">
        <h2>Usuarios Registrados</h2>
        <% if (users.length > 0) { %>
            <ul class="product-list">
                <% users.forEach(element => { %>
                    <%- include("../partials/user.ejs", {element:element}) %> 
                <% }) %>
            </ul>
            <% } else { %>
            <h2>NO HAY USUARIOS REGISTRADOS</h2>
        <% } %>
    </main>

    <footer id="footer">
        <%- include("../partials/footer.ejs") %> 
    </footer>
</body>
</html>