<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')  %> 
    <link rel="stylesheet" href="/css/cart.css">
</head>
<body>
    <header id="header">
        <%- include("../partials/header.ejs")  %> 
    </header>

    <main id="cart-page">

        <h2 class="cart-title">Carrito de Compras</h2>

        <table>
            <tr>
                <th class="item">Item</th>
                <th class="cantidad">Cantidad</th>
                <th class="total">Precio</th>
            </tr>
            
            <tr>
                <td class="item">Nombre</td>
                <td class="cantidad"><button class="mas" type="button">+</button> 1 <button class="menos" type="button">-</button></td>
                <td class="total">$1000</td>
            </tr>

            <tr>
                <th class="total">Total</th>
                <th></th>
                <th class="total">$1000</th>
            </tr>
        </table>
    

        <section class="envio">
            <article>
                <p>Calcular envio: <input class="" type="text" name="c-postal" id="c-postal" required placeholder="Codido Postal"></p>
            </article>
        </section>
        <section class="pay-btn">
            <button type="submit">
                Comprar
            </button>
        </section>
    </main>

    <footer id="footer">
        <%- include("../partials/footer.ejs") %> 
    </footer>

    <script src="/js/cart.js"></script>
</body>
</html>