<head>
    <%- include('../partials/head.ejs')  %> 
</head>
<body>
    <header id="header">
        <%- include("../partials/header.ejs")  %> 
    </header>   

    <main>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut est ullam blanditiis quas ratione necessitatibus quae, distinctio veritatis fuga maxime eligendi consequuntur numquam provident repellendus sunt reprehenderit voluptatum voluptatem magnam?
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut est ullam blanditiis quas ratione necessitatibus quae, distinctio veritatis fuga maxime eligendi consequuntur numquam provident repellendus sunt reprehenderit voluptatum voluptatem magnam?
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut est ullam blanditiis quas ratione necessitatibus quae, distinctio veritatis fuga maxime eligendi consequuntur numquam provident repellendus sunt reprehenderit voluptatum voluptatem magnam?
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut est ullam blanditiis quas ratione necessitatibus quae, distinctio veritatis fuga maxime eligendi consequuntur numquam provident repellendus sunt reprehenderit voluptatum voluptatem magnam?
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut est ullam blanditiis quas ratione necessitatibus quae, distinctio veritatis fuga maxime eligendi consequuntur numquam provident repellendus sunt reprehenderit voluptatum voluptatem magnam?
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut est ullam blanditiis quas ratione necessitatibus quae, distinctio veritatis fuga maxime eligendi consequuntur numquam provident repellendus sunt reprehenderit voluptatum voluptatem magnam?
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut est ullam blanditiis quas ratione necessitatibus quae, distinctio veritatis fuga maxime eligendi consequuntur numquam provident repellendus sunt reprehenderit voluptatum voluptatem magnam?
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut est ullam blanditiis quas ratione necessitatibus quae, distinctio veritatis fuga maxime eligendi consequuntur numquam provident repellendus sunt reprehenderit voluptatum voluptatem magnam?
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut est ullam blanditiis quas ratione necessitatibus quae, distinctio veritatis fuga maxime eligendi consequuntur numquam provident repellendus sunt reprehenderit voluptatum voluptatem magnam?
        </p>
    </main>

    <footer id="footer">
        <%- include("../partials/footer.ejs") %> 
    </footer>
</body>
</html>