<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')  %> 
    <link rel="stylesheet" href="/css/mainHome.css">
</head>
<body>
    <header id="header">
        <%- include("../partials/header.ejs")  %> 
    </header>

    <main id="main">

    <section id="main-section-1">    
            <picture>
                <img src="images/kayak.png" alt="kayak">
                <section>
                    <a href=""> ¡Ofertas! </a>
                </section>
            </picture>   
    </section>

    <section id="main-section-2">
        <article class="titles">
            <h1>Más vendidos</h1>
        </article>

        <section class="section-productos">

            <section class="productos">
                <picture>
                    <a href="/products">
                        <img src="images/salvavidas-x4.jpeg" alt="salvavidas">
                    </a>
                </picture>
                <article>
                    <p>$ 15000</p>
                    <p class="p-envio">Envio gratis</p>
                    <p>Salvavidas x 4u</p>
                </article>
            </section>

            <section class="productos">
                <picture>
                    <a href="/products">
                        <img src="images/salvavidasConSilvato.jpg" alt="salvavidas">
                    </a>
                </picture>
                <article>
                    <p>$ 5000</p>
                    <p class="p-envio">Envio gratis</p>
                    <p>Salvavidas</p>
                </article>
            </section>

            <section class="productos">
                <picture>
                    <a href="/products">
                        <img src="images/salvavidas-x4.jpeg" alt="salvavidas">
                    </a>
                </picture>
                <article>
                    <p>$ 15000</p>
                    <p class="p-envio">Envio gratis</p>
                    <p>Salvavidas x 4u</p>
                </article>
            </section>

        </section>

        <article class="titles">
            <h1>Últimos buscados</h1>
        </article>

        <section class="section-productos">
            

            <article class="productos">
                <picture>
                    <a href="/products">
                        <img src="images/salvavidasConSilvato.jpg" alt="salvavidas">
                    </a>
                </picture>
                <article>
                    <p>$ 5000</p>
                    <p class="p-envio">Envio gratis</p>
                    <p>Salvavidas</p>
                </article>
            </article>

            <article class="productos">
                <picture>
                    <a href="/products">
                        <img src="images/salvavidas-x4.jpeg" alt="salvavidas">
                    </a>
                </picture>
                <article>
                    <p>$ 15000</p>
                    <p class="p-envio">Envio gratis</p>
                    <p>Salvavidas x 4u</p>
                </article>
            </article>

            <article class="productos">
                <picture>
                    <a href="/products">
                        <img src="images/salvavidasConSilvato.jpg" alt="salvavidas">
                    </a>
                </picture>
                <article>
                    <p>$ 5000</p>
                    <p class="p-envio">Envio gratis</p>
                    <p>Salvavidas</p>
                </article>
            </article>

        </section>
    </section>
    </main>

    <footer id="footer">
        <%- include("../partials/footer.ejs") %> 
    </footer>
</body>
</html>