<%- include('../partials/head.ejs')  %> 
<link rel="stylesheet" href="/css/mainHome.css">

<body>  
    <header id="header">
    <%- include("../partials/headerOn.ejs")  %>
    </header>
      
    <main id="main">
   
        <picture id="main-section-1">
            <a href="/products">
                <img src="/images/fondoEditado.jpg" alt="kayak">
            </a>
        </picture>   
    
        <section id="main-section-2">
            
            <h2 class="titles">Más vendidos</h2>
    
            <section class="section-productos">
    
                <section class="productos">
                    <picture>
                        <a href="/products">
                            <img src="/images/salvavidas-x4.jpeg" alt="salvavidas">
                        </a>
                    </picture>
                    <article>
                        <p>$ 15000</p>
                        <p class="p-envio">Envio gratis</p>
                        <p>Salvavidas x 4u</p>
                    </article>
                </section>
    
                <section class="productos">
                    <picture>
                        <a href="/products">
                            <img src="/images/salvavidasConSilvato.jpg" alt="salvavidas">
                        </a>
                    </picture>
                    <article>
                        <p>$ 5000</p>
                        <p class="p-envio">Envio gratis</p>
                        <p>Salvavidas</p>
                    </article>
                </section>
    
                <section class="productos">
                    <picture>
                        <a href="/products">
                            <img src="/images/salvavidas-x4.jpeg" alt="salvavidas">
                        </a>
                    </picture>
                    <article>
                        <p>$ 15000</p>
                        <p class="p-envio">Envio gratis</p>
                        <p>Salvavidas x 4u</p>
                    </article>
                </section>
    
            </section>
    
            <h2 class="titles">Últimos buscados</h2>
    
            <section class="section-productos">
                
    
                <article class="productos">
                    <picture>
                        <a href="/products">
                            <img src="/images/salvavidasConSilvato.jpg" alt="salvavidas">
                        </a>
                    </picture>
                    <article>
                        <p>$ 5000</p>
                        <p class="p-envio">Envio gratis</p>
                        <p>Salvavidas</p>
                    </article>
                </article>
    
                <article class="productos">
                    <picture>
                        <a href="/products">
                            <img src="/images/salvavidas-x4.jpeg" alt="salvavidas">
                        </a>
                    </picture>
                    <article>
                        <p>$ 15000</p>
                        <p class="p-envio">Envio gratis</p>
                        <p>Salvavidas x 4u</p>
                    </article>
                </article>
    
                <article class="productos">
                    <picture>
                        <a href="/products">
                            <img src="/images/salvavidasConSilvato.jpg" alt="salvavidas">
                        </a>
                    </picture>
                    <article>
                        <p>$ 5000</p>
                        <p class="p-envio">Envio gratis</p>
                        <p>Salvavidas</p>
                    </article>
                </article>
    
            </section>
            
        </section>
        </main>

    <footer id="footer">
        <%- include("../partials/footer.ejs") %> 
    </footer>
</body>
</html>