<%- include('../partials/head.ejs')  %> 
<link rel="stylesheet" href="/css/mainHome.css">
<link rel="stylesheet" href="/css/productlistHome.css">
<body>

    <header id="header">
        <%- include("../partials/header.ejs")  %>
    </header>

    <main id="main">
        <picture id="main-section-1">
            <a href="/products">
                <img src="/images/banner/banner1.png" alt="banner">
            </a>
        </picture>   

        <section id="main-section-2">
            
            <h2 class="titles">Más vendidos</h2>
            <ul class="product-list">
                <li class="product">
                    <a href="/products">
                        <picture>
                            <img src="/images/Uploads/products/image-1662154666608.png " alt="salvavidas">
                        </picture>
                        <article>
                            <p class="list-name">Chaleco Salvavidas</p>
                            <p class="list-price"> $10000</p>
                            <p class="list-envio">Envio gratis</p>
                        </article>
                    </a>
                </li>

                <li class="product">
                    <a href="/products">
                        <picture>
                            <img src="/images/Uploads/products/image-1662156830868.png  " alt="salvavidas">
                        </picture>
                        <article>
                            <p class="list-name">Inflador Eléctrico</p>
                            <p class="list-price"> $ 2500</p>
                            <p class="list-envio">Envio gratis</p>
                        </article>
                    </a>
                </li>

                <li class="product">
                    <a href="/products">
                        <picture>
                            <img src="/images/Uploads/products/image-1662154948364.png " alt="salvavidas">
                        </picture>
                        <article>
                            <p class="list-name">Chaleco Salvavidas</p>
                            <p class="list-price"> $ 10000</p>
                            <p class="list-envio">Envio gratis</p>
                        </article>
                    </a>
                </li>

                <li class="product">
                    <a href="/products">
                        <picture>
                            <img src="/images/Uploads/products/image-1662154948364.png " alt="salvavidas">
                        </picture>
                        <article>
                            <p class="list-name">Chaleco Salvavidas</p>
                            <p class="list-price"> $ 10000</p>
                            <p class="list-envio">Envio gratis</p>
                        </article>
                    </a>
                </li>
            </ul>

            <h2 class="titles">Últimos buscados</h2>

            <ul class="product-list">
                <li class="product">
                    <a href="/products">
                        <picture>
                            <img src="/images/Uploads/products/image-1662154666608.png " alt="salvavidas">
                        </picture>
                        <article>
                            <p class="list-name">Chaleco Salvavidas</p>
                            <p class="list-price"> $10000</p>
                            <p class="list-envio">Envio gratis</p>
                        </article>
                    </a>
                </li>

                <li class="product">
                    <a href="/products">
                        <picture>
                            <img src="/images/Uploads/products/image-1662156830868.png  " alt="salvavidas">
                        </picture>
                        <article>
                            <p class="list-name">Inflador Eléctrico</p>
                            <p class="list-price"> $ 2500</p>
                            <p class="list-envio">Envio gratis</p>
                        </article>
                    </a>
                </li>
                
                <li class="product">
                    <a href="/products">
                        <picture>
                            <img src="/images/Uploads/products/image-1662154948364.png " alt="salvavidas">
                        </picture>
                        <article>
                            <p class="list-name">Chaleco Salvavidas</p>
                            <p class="list-price"> $ 10000</p>
                            <p class="list-envio">Envio gratis</p>
                        </article>
                    </a>
                </li>

                <li class="product">
                    <a href="/products">
                        <picture>
                            <img src="/images/Uploads/products/image-1662154948364.png " alt="salvavidas">
                        </picture>
                        <article>
                            <p class="list-name">Chaleco Salvavidas</p>
                            <p class="list-price"> $ 10000</p>
                            <p class="list-envio">Envio gratis</p>
                        </article>
                    </a>
                </li>
            </ul>
        </section>
    </main>

    <footer id="footer">
        <%- include("../partials/footer.ejs") %> 
    </footer>
</body>
</html>