<%- include('../partials/head.ejs')  %> 
<link rel="stylesheet" href="/css/who.css">


<body>
    <header id="header">
        <%- include("../partials/header.ejs")  %> 
    </header>   

    <main class="whoMain">

        <img src="images/logo2.png" alt="logo" class="logoWho">

        <section class="seccion1Who">
            <p class="textoWho1">
                Somos una empresa familiar fundada hace más de una década, situada en el  barrio de Parque Chacabuco en la Ciudad Autónoma de Buenos Aires. 
                Desde nuestros origenes, siempre nos empujaron las ganas de emprender y construir día a día una relación comercial sólida con todos nuestros clientes y proveedores. 
                     </p>
                
                        <img src="images/oxigenoPerro.jpeg" alt="imagen1" class="fotoWho1">
        </section>

        <section class="seccion2Who"> 

            <img src="images/oxigenoIvan.jpeg" alt="imagen2" class="fotoWho2">

            <p class="textoWho2">
                Hoy en día, estamos consolidados como una de las empresas mas grandes dedicadas al mundo naútico. Somos fabricantes de multiples modelos de chalecos salvavidas para nuestra marca oficial, y marcas alternativas, como también comercializamos una amplia gama de productos.         
            </p>

        </section>


        <img src="images/oxigenoKayakHombre.jpeg" alt="imagen3" class="fotoWho3">

        
    </main>

    <footer id="footer">
        <%- include("../partials/footer.ejs") %> 
    </footer>
</body>
</html>