<div class="top-header">
    <nav id="logo">
        <picture>
            <a href="/">
                <img src="/images/logo_blanco.png" alt="Oxígeno">
            </a>
        </picture>
    </nav>
    <form action="" method="get" id="search">
        <label for="query"><i class="fa-solid fa-search"></i></label>
        <button type="submit"><a href="/"><i class="fa-solid fa-search"></i></a></button>
        <input type="text" name="q" id="query" placeholder="Buscar productos, marcas">
    </form>
    <ul id="nav">
        <li class="burger-menu"><a href="/"><i class="bars fa-solid fa-bars"></i> </a></li>
        <li class="user"><a href="/user/profile"><i class="fa-solid fa-user"></i></a></li>
        <li class="cart"><a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
        <li class="cart"><a href="/user/logout"><i class="fa-sharp fa-solid fa-right-from-bracket"></i></a></li>
    </ul>
    <ul id="menu">
        <li class="submenu"><a href="/products">Productos</a></li>
        <li class="submenu"><a href="/">Ofertas</a></li>
        <li class="submenu"><a href="/who">Quienes Somos</a></li>
        <li class="submenu"><a href="/contact">Contacto</a></li>
        <li class="submenu"><a href="/products/create">AgregarProd</a></li>
    </ul>
</div>